// Place all the styles related to the index controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#map-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -100;
}

#content {
  z-index: 100;
  width: 100%;
}

.searchbox {
  margin: 100px auto;
  width: 300px;
  padding: 30px;
  background: rgba(255,255,255,0.7);
}

#location {
  width: 230px;
}


